# Autostart
picom & # compositor
nitrogen --restore & # Wallpaper
autorandr --change --skip-option crtc && nitrogen --restore &
nm-applet &
## TODO: Get rid of xfce4-clipman, currently being used with screenshot
#dex --autostart --environment i3

# xss-lock grabs a logind suspend inhibit lock and will use i3lock to lock the
# screen before suspend. Use loginctl lock-session to lock your screen.
xss-lock --transfer-sleep-lock -- $HOME/.dotfiles/i3/scripts/lock.sh &

# Apps
export EDITOR="nvim"
export TERMINAL="kitty"
export BROWSER="brave"

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share
